[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bumpversion = "==0.5.3"
django-model-utils = ">=2.0"
twine = "==1.12.1"
django-extensions = "*"
Werkzeug = "*"

[packages]
djangorestframework = ">=3.9.3"
django-model-utils = ">=2.0"
django-phonenumber-field = ">=2.3.1"
phonenumbers = ">=8.10.10"
psycopg2-binary = ">=2.8.2"
django-crispy-forms = ">=1.7.2"
urllib3 = "<1.25,>=1.21.1"
django-select2 = ">=7.0.3"
django-bootstrap-modal-forms = ">=1.3.1"
django-widget-tweaks = ">=1.4.3"
django-bootstrap-datepicker-plus = ">=3.0.5"
nobinobi-staff = {git = "ssh://git@git.prolibre.com:8222/alu/nobinobi-staff.git",ref = "master"}
nobinobi-core = {git = "ssh://git@git.prolibre.com:8222/alu/nobinobi-core.git",ref = "master"}
django-simple-menu = {git = "https://github.com/jazzband/django-simple-menu.git",ref = "master"}
coverage = "==4.5.1"
mock = ">=1.0.1"
flake8 = ">=2.1.0"
tox = ">=1.7.0"
codecov = ">=2.0.0"
pylint = ">=2.1.0"
selenium = ">=3.14.0"
model-mommy = ">=1.6.0"
Django = "<=2.2,>=2.0"
Pillow = ">=6.0.0"
Sphinx = ">=1.8.0"
Pygments = ">=2.3.1"
DateTimeRange = "*"
django-weasyprint = "*"

[requires]
python_version = "3.8"
