{% extends "nobinobi_child/base.html" %}
{% load i18n static %}

{% block title %}{{ title }}{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/DataTables/datatables.min.css' %}"/>
{% endblock %}

{% block content_title_block %}
    <h1>{{ title }}</h1>
{% endblock %}

{% block breadcrumb %}
	{{ block.super }}
    <li class="breadcrumb-item active"><a href="{% url "nobinobi_child:Child_list" %}">{{ title }}</a></li>
{% endblock %}


{% block content_card %}
    <div class="row">
        <div class="col-lg-12 text-center"><h2>{% trans "Classroom" %}</h2></div>
        <div class="col-lg-12">

            <div class="center btn-toolbar" role="toolbar" aria-label="">
                <div class="btn-group mx-auto" role="group" aria-label="">
					{% for classroom in classrooms %}
                        <button type="button" onclick="filter_datatables_by_classroom(this);"
                                id="{{ classroom|slugify }}_btn_choice" data-classroom="{{ classroom }}"
                                class="btn btn-secondary">{{ classroom }}</button>
					{% endfor %}
                    <button type="button" onclick="filter_datatables_by_classroom(this);"
                            id="none_btn_choice" data-classroom="null"
                            class="btn btn-dark">{% trans "All" %}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table id="children_datatables" class="display table" style="width:100%">
            <thead>
            <tr>
                <th>{% trans "Status" %}</th>
                <th>{% trans "Picture" %}</th>
                <th>{% trans "Child" %}</th>
                <th>{% trans "Gender" %}</th>
                <th>{% trans "Birth date" %}</th>
                <th>{% trans "Classroom" %}</th>
                <th>{% trans "Age group" %}</th>
                <th>{% trans "Staff" %}</th>
                <th>{% trans "Contacts Phones" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
            </thead>
        </table>
    </div>

	{#  <table class="table table-hover table-bordered table-responsive">#}
	{#    <thead>#}
	{#    <tr>#}
	{#      <th>Nom complet</th>#}
	{#      <th>age</th>#}
	{#      <th>usual name</th>#}
	{#    </tr>#}
	{#    </thead>#}
	{#    <tbody>#}
	{#    {% for child in object_list %}#}
	{#      <tr>#}
	{#        <td scope="row">{{ child.full_name }}</td>#}
	{#        <td>{{ child.birth_date}}</td>#}
	{#        <td>{{ child.usual_name }}</td>#}
	{#      </tr>#}
	{#    {% endfor %}#}
	{#    </tbody>#}
	{#  </table>#}
{% endblock %}

{% block extrajs %}
    <script src="{% static 'vendor/DataTables/datatables.min.js' %}"></script>
    <script>
        let table = null;
        let total_row;
        $(document).ready(function () {
            {#jQuery.noConflict();#}
            table = $('#children_datatables').DataTable({
                "language": {
                    "url": "{% static 'vendor/DataTables/DataTables-1.10.18/i18n/French.json' %}"
                },
                "processing": true,
                "serverSide": true,
                "ajax": "{% url 'nobinobi_child:api-child-list' %}?format=datatables",
                "columns": [
                    {data: "status", visible: false},
                    {
                        data: "picture",
                        orderable: false,
                        "render": function (row, index, datatable) {

                            if (row == null) {
                                console.log(datatable);
                                if (datatable['gender'] === "boy") {
                                    row = "{% static 'img/avatar/default-avatar-boy.png' %}";
                                } else if (datatable['gender'] === "girl") {
                                    row = "{% static 'img/avatar/default-avatar-girl.png' %}";
                                } else {
                                    row = "{% static 'img/avatar/default-avatar-other.png' %}";
                                }
                            }
                            return '<img class="thumbnail" height="100px" width="100px" src="' + row + '"/>';
                        }
                    },
                    {
                        data: null,
                        "render": function (row) {
                            console.log(row);
                            // Combine the first and last names into a single table field
                            let text = row.first_name + ' ' + row.last_name;
                            if (row.childspecificneed) {
                                text += " <i class='fas fa-exclamation-triangle'></i>"
                            }
                            return text;
                        }
                    },
                    {
                        data: "gender",
                        "render": function (row, index, datatable) {
                            if (row === "boy") {
                                row = "{% trans "Boy" %}";
                            } else if (row === "girl") {
                                row = "{% trans "Girl" %}";
                            } else if (row === "other") {
                                row = "{% trans "Other" %}";
                            } else {
                                row = "{% trans "Unknown" %}";
                            }
                            return row;
                        }
                    },
                    {data: "birth_date"},
                    {data: "classroom"},
                    {data: "age_group"},
                    {data: "staff"},
                    {
                        data: null,
                        render: function (row, index, datatable) {
                            let text = "<p>";
                            {#if (row.snack_time) {#}
                            {#  text += "{% trans 'Snack time' %}: " + row.snack_time + "<br/>";#}
                            if (row.childtocontact_set && row.childtocontact_set.length > 0) {
                                for (let i = 0; i < row.childtocontact_set.length; i++) {
                                    text += i + ") " + row.childtocontact_set[i].contact.first_name + " " + row.childtocontact_set[i].contact.last_name + " - " + row.childtocontact_set[i].contact.phone + " / " + row.childtocontact_set[i].contact.mobile_phone + " / " + row.childtocontact_set[i].contact.professional_phone + "<br>";
                                    {#if (row.medication_set[i].comment) {#}
                                    {#  text += "{% trans 'Comment' %} " + (i + 1) + ": " + row.medication_set[i].comment + "<br/>";#}
                                }
                            }
                            text += "</p>";
                            return text;
                        }
                    },

                    {
                        data: null,
                        render: function (row, index, datatable) {
                            let r = '';
                            {% if perms.nobinobi_child.view_child %}
                                r += '<a href="{% url "nobinobi_child:Child_detail" pk="00000000-0000-0000-0000-000000000001" %}" class="btn btn-info"><i class="fa fa-eye"></i></a>'.replace("00000000-0000-0000-0000-000000000001", row.id);
                            {% endif %}
                            return r;
                        },
                    },
                ],
                "columnDefs": [{
                    "targets": -1,
                    "searchable": false,
                    "orderable": false,
                }],
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        exportOptions: {
                            columns: [2, 3, 4, 5, 8]
                        },
                    },
                    {
                        extend: 'print',
                        exportOptions: {
                            columns: [2, 3, 4, 5, 8]
                        },
                    },
                    {
                        extend: 'csvHtml5',
                        exportOptions: {
                            columns: [2, 3, 4, 5, 8]
                        },
                    }, {
                        extend: 'pdfHtml5',
                        exportOptions: {
                            columns: [2, 3, 4, 5, 8]
                        },
                    },
                ],
                responsive: true,
                "searchCols": [
                    {"search": 'in_progress'},
                ],
            });

        });

        function filter_datatables_by_classroom(obj) {
            let classroom = obj.dataset.classroom;
            if (classroom !== "null") {
                table.columns(5).search("").draw();
                table.columns(5).search(classroom).draw();
            } else {
                table.columns(5).search("").draw();
            }
        }

        {#$(window).load(function () {#}
        {#  setTimeout(create_event_button, 1500);#}

    </script>

{% endblock %}
