{% extends "nobinobi_child/base.html" %}
{% load i18n static %}

{% block title %}{{ title }}{% endblock %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/DataTables/datatables.min.css' %}"/>
{% endblock %}

{% block content_title_block %}
  <h1>{{ title }}</h1>
{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item active"><a href="{% url "nobinobi_child:Child_list" %}">{{ title }}</a></li>
{% endblock %}


{% block content_card %}
  <div class="row">
    <div class="col-lg-12 text-center"><h2>{% trans "Classroom" %}</h2></div>
    <div class="col-lg-12">

      <div class="center btn-toolbar" role="toolbar" aria-label="">
        <div class="btn-group mx-auto" role="group" aria-label="">
          {% for classroom in classrooms %}
            <button type="button" onclick="filter_datatables_by_classroom(this);"
                    id="{{ classroom|slugify }}_btn_choice" data-classroom="{{ classroom }}"
                    class="btn btn-secondary">{{ classroom }}</button>
          {% endfor %}
          <button type="button" onclick="filter_datatables_by_classroom(this);"
                  id="none_btn_choice" data-classroom="null"
                  class="btn btn-dark">{% trans "All" %}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <table id="children_datatables" class="display table" style="width:100%">
      <thead>
      <tr>
        <th>{% trans "Status" %}</th>
        <th>{% trans "Picture" %}</th>
        <th>{% trans "First name" %}</th>
        <th>{% trans "Last name" %}</th>
        <th>{% trans "Usual name" %}</th>
        <th>{% trans "Gender" %}</th>
        <th>{% trans "Birth date" %}</th>
        <th>{% trans "Classroom" %}</th>
        <th>{% trans "Age group" %}</th>
        <th>{% trans "Staff" %}</th>
        <th>{% trans "Actions" %}</th>
      </tr>
      </thead>
    </table>
  </div>

  {#  <table class="table table-hover table-bordered table-responsive">#}
  {#    <thead>#}
  {#    <tr>#}
  {#      <th>Nom complet</th>#}
  {#      <th>age</th>#}
  {#      <th>usual name</th>#}
  {#    </tr>#}
  {#    </thead>#}
  {#    <tbody>#}
  {#    {% for child in object_list %}#}
  {#      <tr>#}
  {#        <td scope="row">{{ child.full_name }}</td>#}
  {#        <td>{{ child.birth_date}}</td>#}
  {#        <td>{{ child.usual_name }}</td>#}
  {#      </tr>#}
  {#    {% endfor %}#}
  {#    </tbody>#}
  {#  </table>#}
{% endblock %}

{% block extrajs %}
  <script src="{% static 'vendor/DataTables/datatables.min.js' %}"></script>
  <script>
    let table = null;
    $(document).ready(function () {
      {#jQuery.noConflict();#}
      table = $('#children_datatables').DataTable({
        "language": {
          "url": "{% static 'vendor/DataTables/DataTables-1.10.18/i18n/French.json' %}"
        },
        "ajax": {
          url: "{% url 'nobinobi_child:api-child-list' %}",
          dataSrc: ''
        },
        "columns": [
          {data: "status", visible: false},
          {
            data: "picture",
            orderable: false,
            "render": function (row, index, datatable) {
              if (row == null) {
                row = "{% static "img/nobinobi.png" %}";
              }
              return '<img class="thumbnail" height="100px" width="100px" src="' + row + '"/>';
            }
          },
          {data: "first_name"},
          {data: "last_name"},
          {data: "usual_name"},
          {data: "gender"},
          {data: "birth_date"},
          {data: "classroom"},
          {data: "age_group"},
          {data: "staff"},
          {
            data: null,
            render: function (row, index, datatable) {
              return '<a href="{% url "nobinobi_child:Child_detail" pk="00000000-0000-0000-0000-000000000001" %}" class="btn btn-info"><i class="fa fa-eye"></i></a>'.replace("00000000-0000-0000-0000-000000000001", row.id);
            },
          },
        ],
        "columnDefs": [{
          "targets": -1,
          "searchable": false,
          "orderable": false,
        }],
        dom: 'Bfrtip',
        buttons: [
          'copyHtml5',
          'print',
          'csvHtml5',
          'pdfHtml5'
        ],
        responsive: true,
        "searchCols": [
          {"search": 'in_progress'},
        ],
      });

    });

    function filter_datatables_by_classroom(obj) {
      let classroom = obj.dataset.classroom;
      if (classroom !== "null") {
        table.columns(7).search(classroom).draw();
      } else {
        table.columns(7).search("").draw();
      }
    }

    {#$(window).load(function () {#}
    {#  setTimeout(create_event_button, 1500);#}

  </script>

{% endblock %}
